* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #32AFFC;
  --border-color: #2A94D6;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #e4e4e4;
}

.progress {
  width: 60%;
  height: 20px;
  border-radius: 4px;
  position: relative;
  background-color: #fff;
  box-shadow: 4px 5px 0px rgba(46, 151, 216, 0.1);
}

.progress .value {
  height: 20px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background: linear-gradient(270deg, #2a94d6 0%, rgba(50, 175, 252, 0.62) 100%);
  position: absolute;
  display: none;
}

.progress .value::before {
  content: '';
  width: 1px;
  height: 50px;
  position: absolute;
  background-color: #2a94d6;
  transform: translateY(-40px);
  right: 0;
}

.progress .value span {
  position: absolute;
  right: 0;
  bottom: 60px;
  color: var(--main-color);
  font-weight: bold;
}

.progress .value.start {
  display: block;
}

.progress .value.finished {
  border-radius: 4px;
}


.button-group {
  margin-top: 100px;
}
button {
  width: 120px;
  height: 44px;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  background-color: var(--main-color);
  border: 1px solid var(--border-color);
  margin-right: 6px;
}

